// .footer {
//   width: 100%;
//   padding: 16px 0;
//   box-shadow: 1px 0 20px 1px rgba(255, 255, 255, 0.3);
//   .container {
//     .row {
//       justify-content: space-between;
//       align-items: center;
//       .copyright {
//         font-size: 14px;
//         color: #7a8395;
//         span {
//           color: #fff;
//           font-weight: 700;
//         }
//       }
//       .socialList {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 16px;
//         .socialItem {
//           cursor: pointer;
//           &:hover {
//             svg {
//               path {
//                 color: #ce8339;
//               }
//             }
//           }
//         }
//       }
//       .inps {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         gap: 16px;
//         .switch {
//           font-size: 17px;
//           position: relative;
//           display: inline-block;
//           width: 62px;
//           height: 35px;
//           transform: scale(0.7);
//           input {
//             opacity: 1;
//             width: 0;
//             height: 0;
//             &:checked {
//               & + .slider {
//                 background-color: #7a8395;
//                 border: 1px solid transparent;
//               }
//               & + .slider:before {
//                 transform: translateX(1.5em);
//               }
//             }
//           }
//           .slider {
//             position: absolute;
//             cursor: pointer;
//             top: 0;
//             left: 0;
//             right: 0;
//             bottom: 0px;
//             background: #fff;
//             transition: 0.4s;
//             border-radius: 30px;
//             border: 1px solid #ccc;
//             &::before {
//               position: absolute;
//               content: "";
//               height: 1.9em;
//               width: 1.9em;
//               border-radius: 16px;
//               left: 1.2px;
//               top: 0;
//               bottom: 0;
//               background-color: white;
//               box-shadow: 0 2px 5px #999999;
//               transition: 0.4s;
//             }
//           }
//         }
//         .language {
//           outline: 0;
//           border: 0;
//           background: transparent;
//           padding: 4px 12px;
//           color: #7a8395;
//           option {
//             color: #7a8395;
//             font-size: 18px;
//           }
//         }
//       }
//     }
//   }
// }



.footer {
  background-color: #202424;
  color: #fff;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 40px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #202424;
  padding-bottom: 40px;
  .container {
    .row {
      flex-direction: column;
      gap: 20px;
      .socialHead,
      .socialList {
        width: 98%;
        ul {
          display: flex;
          flex-direction: row;
          width: 100%;
          @media (max-width: 1024px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 20px;
          }
          li {
            width: 70%;
            @media (max-width: 1024px) {
              flex: 0 0 45%;
            }
          }
        }
      }
      .socialHead {
        ul {
          li {
            .socialListLink {
              color: #fff;
              font-size: 9.6px;
              font-weight: 700;
            }
          }
        }
      }
      .socialList {
        ul {
          li {
            ul {
              display: flex;
              flex-direction: column;
              gap: 5px;
              li {
                font-weight: 700;
                .listLink {
                  font-size: 9.6px;
                  font-weight: 300;
                  color: #fff;
                }
              }
            }
          }
        }
      }
      .copywrite {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
   
        .footerLogo {
          height: 20px;
        }
        small {
          width: 100%;
        }
      }
    }
  }
}
