.editProduct {
  width: 100%;
  padding: 190px 0;
  .container {
    .row {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      .login-box {
        width: 400px;
        padding: 40px;
        background: rgba(24, 20, 20, 0.987);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        text-align: right;
        form {
          .user-box {
            position: relative;
            input {
              width: 100%;
              padding: 10px 0;
              font-size: 16px;
              color: #fff;
              margin-bottom: 30px;
              border: none;
              border-bottom: 1px solid #fff;
              outline: none;
              background: transparent;
              &.error {
                border-color: #ff0000;
              }
            }
            label {
              position: absolute;
              top: -20px;
              left: 0;
              padding: 10px 0;
              font-size: 12px;
              color: #bdb8b8;
              pointer-events: none;
              transition: 0.5s;
              &.error {
                color: #ff0000;
              }
            }
            .previewImage {
              width: 100%;
              height: 200px;
              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
          }
          .btn {
            &.error {
              button {
                &:hover {
                  background: #ff0000;
                  box-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000,
                    0 0 50px #ff0000, 0 0 100px #ff0000;
                }
                span {
                  &:nth-child(1) {
                    background: linear-gradient(90deg, transparent, #ff0000);
                  }
                }
              }
            }
            button {
              border: 0;
              outline: 0;
              background-color: transparent;
              cursor: pointer;
              position: relative;
              display: inline-block;
              padding: 10px 20px;
              color: #ffffff;
              font-size: 16px;
              text-decoration: none;
              text-transform: uppercase;
              overflow: hidden;
              transition: 0.5s;
              margin-top: 40px;
              letter-spacing: 4px;
              &:hover {
                background: #03f40f;
                color: #fff;
                border-radius: 5px;
                box-shadow: 0 0 5px #03f40f, 0 0 25px #03f40f, 0 0 50px #03f40f,
                  0 0 100px #03f40f;
              }
              span {
                position: absolute;
                display: block;
                &:nth-child(1) {
                  bottom: 2px;
                  left: -100%;
                  width: 100%;
                  height: 2px;
                  background: linear-gradient(90deg, transparent, #03f40f);
                  animation: btn-anim1 2s linear infinite;
                }
              }
            }
          }
        }
      }
    }
  }
}
